@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

:root {
    --color-green: #FF8C00;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    background: #282a36;
    font-family: 'Source Sans Pro';
}

header {

    padding: 32px;
    border-bottom: 2px solid  #FF8C00;
    background: rgba(0, 0, 0, 0.2);
    
}

h4{
    padding:5px 15px;
}

.links {
text-align: center;
}

.links a {
   
   color:white;
    font-size: 18px;
    list-style: height 28px;
    margin: 0 13px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover {
    color: #FF8C00;
    transition: color 700ms;

}

#wrapper {
    text-align: center;
    padding: 40px;
    color:whitesmoke;
   
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin-bottom: 32px;
    height: 200px;
    
}

#wrapper h1 {
    font-size: 32px;
    line-height:42px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 20px;
    line-height:30px;
    font-weight: normal;
    margin-top: 3px;
    opacity: 0.8;
}

#wrapper h3 {
    font-size:20px;
    line-height:30px;
    font-weight:normal;
    opacity: 0.8;
    margin: 0, auto;

}

#wrapper p a {
color: var(--color-green);

}

#links-footer a {
    border-bottom: 1px solid var(--color-green)
}
/*==CARDS==*/


.cards{
    max-width: 800px;
    margin: 0 auto;
    color:whitesmoke;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card{
    background-color:rgba(0, 0, 0, 0.2);
    
}


.card_image{
   
width: 123px;

}

.card_image img{
    
    width: 200%;
}



.card_content,
.card_info{
    padding: 14px;
    font-size: 15px;
    line-height:25px;
}

.card_info{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.card_price{
    background-color:rgba(0, 0, 0, 0.2);
    filter:brightness(90%);
    border-radius: 100px;
    text-align: center;
    padding: 5x 20px;
}

/*==MODAL==*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal.close-modal,
.material-icons{
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;

}

/*==MODAL.ACTIVE==*/

.modal-overlay.active{
   opacity: 1;
   visibility: visible;
  
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;

}